{
  "extends": "eslint-config-egg",
  "rules": {
    "comma-dangle": ["warn", "never"],
    "no-unused-vars": ["warn", {
      "vars": "local",
      "args": "after-used"
    }],
    "linebreak-style":0
  }
}
